html,
body {
  /* background: linear-gradient(to bottom, rgba(122, 122, 223), rgb(13, 3, 43)); */
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  background-image: url("./images/background.jpeg");
  background-size: cover;
  min-height: 225vh;
}

p {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
}

h1 {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-size: 32px;
}

.heading {
  position: absolute;
  /* top: 110px;
  left: 150px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 100; */
  max-width: 500px;
  position: fixed;
  background-color: rgba(160, 164, 192, 0.4);
  padding: 24px;
  /* border: 2px solid white; */
  border-radius: 8px;
  /* box-shadow: 10px 5px 5px white; */
  display: flex;
  flex-direction: column;
  /* font-optical-sizing: auto; */
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.cursor {
  position: absolute;
  width: 125px;
  height: 125px;
  pointer-events: none;
  transform: translate(-50%, -50%); /* Center the cursor on the coordinates */
  /* opacity: 0.8; */
  transition: all 0.1s ease; /* Smooth movement */
  z-index: 99; /*Ensure cursors appear on top*/
}

/*.sea-creature-pictures {
  position: relative;
  width: 100%;
  height: 100%;
} */

.creature-img {
  position: absolute;
  height: auto;
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.creature-img:hover {
  transform: scale(1.1) !important; /* Slightly enlarges on hover */
}

#plankton {
  bottom: -100vh; /* Use percentages for responsive positioning */
  left: 50%;
  width: 50vw; /* Use vw (viewport width) for scaling */
  /* min-width: 150px; Minimum size */
}

#seaweed {
  bottom: -70vh;
  left: -20vh;
  width: 30vw;
  transform: rotate(90deg);
  /* min-width: 120px; */
}

#seaweed:hover {
  transform: rotate(90deg) scale(1.1) !important;
}

#seaweed2 {
  bottom: -220vh; /* Positioned lower on the page - scroll down to see it */
  left: 10%;
  width: 30vw;
  min-width: 200px;
  /* transform: rotate(90deg);
  transform-origin: bottom left; */
}

#seaweed2:hover {
  transform: scale(1.1) !important;
}

#angler {
  top: 30vh;
  left: 75%;
  width: 28vw;
  /* min-width: 180px; */
  transform: rotate(-40deg);
}

#angler:hover {
  transform: rotate(-40deg) scale(1.1) !important;
}

#angel {
  bottom: -100vh;
  right: 85%;
  width: 15vw;
  /* min-width: 160px; */
}

#urchin {
  top: 10%;
  left: 3%;
  width: 24vw;
  /* min-width: 100px; */
  transform: rotate(110deg);
}

#urchin:hover {
  transform: rotate(110deg) scale(1.1) !important;
}

#eel {
  top: 70vh;
  right: 3%;
  width: 47vw;
  /* min-width: 250px; */
}

#gearsnail {
  top: 0vh;
  left: 62%;
  width: 25vw;
  /* min-width: 120px; */
}

#jelly {
  top: 57vh;
  left: 15%;
  width: 25vw;
  /* min-width: 140px; */
}

#overlay {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}

#center_popup {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

#pop_up {
  position: fixed;
  background-color: rgba(43, 68, 210, 0.8);
  padding: 24px;
  border: 5px solid white;
  border-radius: 8px;
  box-shadow: 10px 5px 5px white;
  display: flex;
  flex-direction: column;
  /* font-optical-sizing: auto; */
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* z-index: 300; */
}

#popup_text {
  color: white;
  font-size: 25px;
}

#continue_button {
  margin: auto;
  font-size: 25px;
  font-family: "Saira Semi Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  color: rgb(22, 51, 195);
  background-color: white;
  box-shadow: 0 0.2em white;
}

.continue_button:hover {
  transform: scale(1.1) !important; /* Slightly enlarges on hover */
}

/* #plankton2 {
  bottom: -150vh;
  left: 50%;
  width: 40vw;

  /* min-width: 180px; */
/* }

  plankton2.scroll({
  left: 100,
  behavior: "smooth",
});   */
